<div class="container-fluid" [@openClose]="!colapsed ? 'open' : 'closed'">


    <div class="head d-flex justify-content-between" (click)="colapse()">
        <div>Filters</div>
        <img style="height: 25px;" src="/assets/filter.svg" alt="filter">
    </div>

    <div *ngIf="!colapsed">
        <div class="row px-2">
            <app-hero-search></app-hero-search>
        </div>
        <div class="row d-flex">
            <div class="px-2">
                <p class="sortBy">sort by {{ sortby }}</p>
            </div>
            <div class="px-2">
                <label class="switch">
                    <input type="checkbox" (click)="switchCheckBox()">
                    <span class="slider round"></span>

                </label>
            </div>
        </div>
    </div>
</div>


<!-- 
<nav class="navbar navbar-expand navbar-light bg-light">

    <a class="navbar-brand" href="#">Navbar</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <div class="row bg-light">
            <div class="col-6">
                <p class="sortBy">sort by : {{ sortby }}</p>
            </div>
            <div class="col-6">
                <label class="switch ">
                    <input type="checkbox" (click)="switchCheckBox()">
                    <span class="slider round"></span>

                </label>
            </div>
        </div>
        <div class="row">
            <app-hero-search></app-hero-search>
        </div>
    </div>
</nav> -->