.row {
  background-color: white;
  height: 100%;
  .col-12 {
  }
  .prof {
    .container {
      width: 55px;
      height: 55px;
      background-color: whitesmoke;
      border-radius: 50px;
      img {
        margin-left: -2px;
        margin-top: 10px;
        width: 30px;
      }
    }
  }
  .details {
    justify-items: center;
  }
}
