.container {
  background-color: rgb(241, 245, 247);
  width: 470px;

  .card {
    margin: 20px;
    background-color: white;
    border: rgb(0, 0, 0, 0.3) 1px solid;
    width: 400px;
    height: 400px;
    padding: 15px;
    .imgcon {
      width: 70px;
      background-color: rgb(241, 245, 247);
      border-radius: 50px;
      img {
        width: 30px;
        height: 70px;
        opacity: 0.4;
      }
    }
    .desc {
      .row {
        margin-top: 10px;
      }
    }
  }
}
