<div class="container-fluid bg-white">
    <div class="row">
        <div class="col-md-12 d-none d-md-block ">
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th scope="col">Hero Name</th>
                        <th scope="col">Powers</th>
                        <th scope="col">Rate</th>
                    </tr>
                </thead>
                <tbody>

                    <tr [routerLink]="['/details', hero.id]" *ngFor="let hero of heroes" (click)="onSelect(hero)"
                        style="cursor: pointer;">
                        <td>{{hero.name}}</td>
                        <td>{{hero.powers}}</td>
                        <td>
                            <app-star-rate [heroRate]="hero.rate"></app-star-rate>
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>

        <div class="col-md-12 d-sm-block d-md-none">
            <table class="table table-sm table-hover" [routerLink]="['/details', hero.id]" *ngFor="let hero of heroes"
                (click)="onSelect(hero)" style="cursor: pointer;">
                <tr>
                    <th scope="col">Hero Name</th>
                    <td>{{hero.name}}</td>
                </tr>
                <tr>
                    <th scope="col">Powers</th>
                    <td>{{hero.powers}}</td>
                </tr>
                <tr>
                    <th scope="col">Rate</th>
                    <td>
                        <app-star-rate [heroRate]="hero.rate"></app-star-rate>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>