<div class="container-fluid bg-white">
    <div class="row">
        <div class="col-md-6">
            <h2>My Heroes</h2>
            <div class="row bg-white">

                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Powers</th>
                            <th scope="col">Rate</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let hero of heroes" (click)="onSelect(hero)" style="cursor: pointer;">
                            <th scope="row">{{hero.id}}</th>
                            <td>{{hero.name}}</td>
                            <td>{{hero.powers}}</td>
                            <td>
                                <!-- <ng-container ngFor="let rate of heroRate">{{heroRate}}</ng-container> -->
                                <app-star-rate [heroRate]="hero.rate"></app-star-rate>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">

            <app-hero-detail [hero]="selectedHero"></app-hero-detail>
        </div>
    </div>
</div>





<!-- <ng-container *ngFor="let star of stars">
    <app-star [starId]="star" [rating]="hoverState || rating" (enter)="enter($event)" (leave)="leave()"
        (bigClick)="updateRating(star)">
    </app-star>
</ng-container> -->