<div class="container">
    <h2>My Heroes</h2>
    <div class="row bg-light">

        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Powers</th>
                    <th scope="col">Rate</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let hero of heroes" (click)="onSelect(hero)" style="cursor: pointer;">
                    <th scope="row">{{hero.id}}</th>
                    <td>{{hero.name}}</td>
                    <td>{{hero.powers}}</td>
                    <td>
                        <!-- <ng-container ngFor="let rate of heroRate">{{heroRate}}</ng-container> -->
                        <app-star-rate [heroRate]="hero.rate"></app-star-rate>
                    </td>
                </tr>


            </tbody>
        </table>

    </div>

    <div class="row">
        <div class="container">
            <div class="row" *ngIf="selectedHero">


                <div><span>name: </span>{{ selectedHero.name }}</div>


            </div>
        </div>
    </div>
</div>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>



<!-- <ng-container *ngFor="let star of stars">
    <app-star [starId]="star" [rating]="hoverState || rating" (enter)="enter($event)" (leave)="leave()"
        (bigClick)="updateRating(star)">
    </app-star>
</ng-container> -->