<div id="search-component">
    <input #searchBox id="search-box" class="form-control mr-sm-2" type="search" placeholder="Search" [(ngModel)]="name"
        (input)="Search()" />
    <div>
        <ul aria-labelledby="search-box" class="search-result" *ngIf="name">
            <li *ngFor="let hero of heroes" (click)="onSelect(hero)">
                <a routerLink="/detail/{{hero.id}}">
                    {{hero.name}}
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">


        <li class="nav-item dropdown">
            <input #searchBox id="search-box" class="form-control mr-sm-2" type="search" placeholder="Search"
                [(ngModel)]="name" (input)="Search()">
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" aria-labelledby="search-box"
                class="search-result" *ngIf="name">
                <a *ngFor="let hero of heroes" (click)="onSelect(hero)" class="dropdown-item">
                    {{hero.name}}</a>

            </div>
        </li>

    </ul>
</div> -->