#search-component {
  li {
    list-style-type: none;
  }

  ul.search-result {
    margin-top: 0;
    padding-left: 0;
  }
  .search-result {
    z-index: 7;
    position: fixed;

    li {
      width: 198px;
      a {
        border-bottom: 1px solid gray;
        border-left: 1px solid gray;
        border-right: 1px solid gray;
        border-radius: 5px;
        display: inline-block;
        width: 100%;
        max-width: 600px;
        padding: 0.5rem;
        box-sizing: border-box;
        text-decoration: none;
        color: black;
      }
      a:hover {
        background-color: #435a60;
        color: white;
      }
    }
  }
}
